PORT = 4000
FE_URL = http://localhost:3000
MONGO_URI = "mongodb+srv://<username>:<password>@cluster0.7gmyrif.mongodb.net/personal_book_manager?appName=Cluster0"
JWT_SECRET = "asdasdasd@&^7t87@38yuuy981298"